.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-message {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-primary hr {
  border-top-color: #dcdcdc;
}

.alert-primary .alert-link {
  color: #555;
}

.alert-secondary {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-secondary hr {
  border-top-color: #dcdcdc;
}

.alert-secondary .alert-link {
  color: #555;
}

.alert-success {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-success hr {
  border-top-color: #dcdcdc;
}

.alert-success .alert-link {
  color: #555;
}

.alert-info {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-info hr {
  border-top-color: #dcdcdc;
}

.alert-info .alert-link {
  color: #555;
}

.alert-warning {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-warning hr {
  border-top-color: #dcdcdc;
}

.alert-warning .alert-link {
  color: #555;
}

.alert-danger {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-danger hr {
  border-top-color: #dcdcdc;
}

.alert-danger .alert-link {
  color: #555;
}

.alert-light {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-light hr {
  border-top-color: #dcdcdc;
}

.alert-light .alert-link {
  color: #555;
}

.alert-dark {
  color: #555;
  background-color: #dcdcdc;
  border-color: #dcdcdc;
}

.alert-dark hr {
  border-top-color: #dcdcdc;
}

.alert-dark .alert-link {
  color: #555;
}

.close {
  float: right;
  line-height: 1;
  opacity: .5;

  &:not(:disabled):not(.disabled) {

    @include hover-focus {
      text-decoration: none;
      opacity: .75;
    }

    cursor: pointer;
  }
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

button,input,optgroup,select,textarea {
  height: 30px;
  vertical-align:middle;
  box-sizing: border-box;
  margin:0;
  font:inherit;
  color:inherit
}

code {
  vertical-align:top;
}
