<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="description" content="Yet an easy Blog">
  <!--title>ezBlog</title-->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/pure/1.0.0/pure-min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/pure/1.0.0/grids-responsive-min.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js" async></script>
  {% block meta %}
  {% endblock meta %}
  {% block style %}
  {% endblock style %}
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <!--meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=8j6Eo5no4g">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=8j6Eo5no4g">
  <meta name="theme-color" content="#ffffff"-->
  <!--link rel="alternate" type="application/atom+xml" href="/atom.xml"-->
  {% block extrastyle %}
  {% endblock extrastyle %}
</head>
<body>
  <div class="body_container">
    <div id="header">
      <div class="site-name">
        <h1 class="hidden">ezBlog</h1>
        <a id="logo" href="/">ezBlog</a>
        <p class="description">No more than a blog</p>
      </div>
      <div id="nav-menu">
        <a class="current" href="/">
          <i class="fa fa-home">首页</i>
        </a>
        <a href="/archives/">
          <i class="fa fa-archive">归档</i>
        </a>
        <a href="/about/">
          <i class="fa fa-user">关于</i>
        </a>
        <a href="/atom.xml">
          <i class="fa fa-rss">订阅</i>
        </a>
      </div>
    </div>
    <div class="pure-g" id="layout">
      <div class="pure-u-1 pure-u-md-3-4">
        <div class="content_container">
          <!--div class="post">
            <h1 class="post-title">
                <a href="/emotion/stay-alone.html">独处</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content">
            </div>
            <p class="readmore">
                <a href="/emotion/stay-alone.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/just-say-something.html">杂谈</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content">
            </div>
            <p class="readmore">
                <a href="/emotion/just-say-something.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/forget-me.html">忘了我</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content"></div>
            <p class="readmore">
                <a href="/emotion/forget-me.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/dishearted.html">继续丧</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content"></div>
            <p class="readmore">
                <a href="/emotion/dishearted.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/caprice2.html">一点随想II</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content"></div>
            <p class="readmore">
                <a href="/emotion/caprice2.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/about-memory.html">关于记忆</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content"></div>
            <p class="readmore">
                <a href="/emotion/about-memory.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/find-myself.html">找自己II</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content"></div>
            <p class="readmore">
                <a href="/emotion/find-myself.html">阅读全文</a>
            </p>
          </div>
          <div class="post">
            <h1 class="post-title">
                <a href="/emotion/out-of-instinct.html">出于本能</a>
            </h1>
            <div class="post-meta"></div>
            <div class="post-content"></div>
            <p class="readmore">
                <a href="/emotion/out-of-instinct.html">阅读全文</a>
            </p>
          </div-->
          <!--nav class="page-navigator">
            <span class="page-number current">1</span>
            <a class="page-number" href="/page/2/">2</a>
            <a class="page-number" href="/page/3/">3</a>
            <span class="space">&hellip;</span>
            <a class="page-number" href="/page/21/">21</a>
            <a class="extend next" rel="next" href="/page/2/">下一页</a>
          </nav-->
          {% block post %}
          {% endblock post%}
        </div>
      </div>

      <div class="pure-u-1-4 hidden_mid_and_down">
        <div id="sidebar">
          <div class="widget">
            <form class="search-form" action="//www.google.com/search" method="get" accept-charset="utf-8" target="_blank">
              <input type="text" name="q" maxlength="20" placeholder="Search">
              <input type="hidden" name="sitesearch" value="{{ config.BLOGGING_SITEURL}}">
            </form>
          </div>
          {% block sidewidget %}
          {% endblock sidewidget %}
          <!--div class="widget">
            <div class="widget-title">
              <i class="fa fa-folder-o">分类</i>
            </div>
            <ul class="category-list">
              <li class="category-list-item">
                <a class="category-list-link" href="/categories/emotion/">emotion</a>
              </li>
              <li class="category-list-item">
                <a class="category-list-link" href="/categories/technology/">technology</a>
              </li>
            </ul>
          </div>
          <div class="widget">
              <div class="widget-title">
                  <i class="fa fa-star-o">标签</i>
              </div>
              <div class="tagcloud">
                  <a href="/tags/wudaokou/" style="font-size:15px">五道口</a>
                  <a href="/tags/emotion/" style="font-size:15px">心情</a>
                  <a href="/tags/music/" style="font-size:15px">音乐</a>
                  <a href="/tags/sports/" style="font-size:15px">体育</a>
                  <a href="/tags/NBA/" style="font-size:15px">NBA</a>
                  <a href="/tags/technology/" style="font-size:15px">技术</a>
                  <a href="/tags/Internet/" style="font-size:15px">Internet</a>
                  <a href="/tags/Typecho/" style="font-size:15px">Typecho</a>
                  <a href="/tags/movie/" style="font-size:15px">电影</a>
                  <a href="/tags/manuscript/" style="font-size:15px">随笔</a>
                  <a href="/tags/eat/" style="font-size:15px">吃</a>
                  <a href="/tags/jeffery/" style="font-size:15px">李杨</a>
                  <a href="/tags/Wordpress/" style="font-size:15px">Wordpress</a>
                  <a href="/tags/blog/" style="font-size:15px">博客</a>
                  <a href="/tags/GitHub/" style="font-size:15px">GitHub</a>
                  <a href="/tags/Hexo/" style="font-size:15px">Hexo</a>
                  <a href="/tags/duoshuo/" style="font-size:15px">多说</a>
                  <a href="/tags/VPS/" style="font-size:15px">VPS</a>
                  <a href="/tags/host/" style="font-size:15px">主机</a>
              </div>
          </div>
          <div class="widget">
              <div class="widget-title">
                  <i class="fa fa-file-o">最近文章</i>
              </div>
              <ul class="post-list">
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/stay-alone.html">独处</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/just-say-something.html">杂谈</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/forget-me.html">忘了我</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/dishearted.html">继续丧</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/caprice2.html">一点随想II</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/about-memory.html">关于记忆</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/find-myself.html">找自己II</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/out-of-instinct.html">出于本能</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/just-breath.html">活着而已</a>
                  </li>
                  <li class="post-list-item">
                      <a class="post-list-link" href="/emotion/last-spring.html">春去春又来</a>
                  </li>
              </ul>
          </div>
          <div class="widget">
              <div class="widget-title">
                  <i class="fa fa-external-link">友情链接</i>
              </div>
              <ul></ul>
              <a href="http://yalanlife.net/" title="雅岚文艺博客" target="_blank">雅岚文艺博客</a>
          </div-->
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-3-4">
          <div id="footer">
            Copyright © 2018 <a href="/" rel="nofollow">Ziv</a>
            | <a rel="nofollow" target="_blank" href="http://traceme.space/">Personal BLog</a>
            |&nbsp<img class="nofancybox" src="" style="margin-bottom:-4px">
            <br>
          </div>
      </div>
    </div>
    <a class="show" id="rocket" href="#top"></a>
    <script src="/static/js/totop.js" async></script>
    <script src="//cdn.bootcss.com/fancybox/3.3.5/jquery.fancybox.min.js" async></script>
    <script src="/static/js/fancybox.js" async></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/fancybox/3.3.5/jquery.fancybox.min.css">
    <script src="/static/js/codeblock-resizer.js"></script>
    <script src="/static/js/smartresize.js"></script>
  </div>
</body>
</html>
