{% extends 'blogging/base.html' %}

{% block title %}
<title>Edit Blog</title>
{% endblock title %}

{% block extrastyle %}
  <link rel="stylesheet" href="/static/libs/editor.md/css/style.css" />
  <link rel="stylesheet" href="/static/libs/editor.md/css/editormd.css" />
{% endblock extrastyle %}

{% block navmenu %}
   <div id="nav-menu">
     <a class="current" href="{{ url_for('blogging.editor') }}"><i class="fa fa-plus-circle">写博客</i></a>
     <a href="{{url_for('blogging.index')}}"><i class="fa fa-home">首页</i></a>
     <a href="{{url_for('blogging.archives')}}"><i class="fa fa-archive">归档</i></a>
     <a href="{{url_for('blogging.about')}}"><i class="fa fa-user">关于</i></a>
     <a href="{{url_for('blogging.feed')}}"><i class="fa fa-rss">订阅</i></a>
     {% if current_user.is_authenticated %}
     <a href="/logout/"><i class="fa fa-sign-out">退出</i></a>
     {% endif %}
   </div>
 {% endblock navmenu %}

{% block post %}
<div class="pure-u-1">
  <form class="form-horizontal" action="{{url_for('blogging.editor', post_id=post_id or None)}}" method="POST" style="margin-top:10px">
      {{ form.hidden_tag() }}
      <fieldset>
          <!-- Form Name -->
          <legend>Blog Editor</legend></br>
          <!-- Text input-->
          <div class="form-group">
              <h2 class="control-label col-md-offset-2  control-label input-md" for="title">
                  Title
              </h2>
              <div class="input-group col-md-8 col-md-offset-2">
                  {{form.title(placeholder="Title", id="title", required="", style="width:100%")}}
              </div>
          </div>
          </br>
          <div class="form-group">
              <div id="editormd" class="input-group col-md-8 col-md-offset-2">
                  {{form.text(placeholder="Blog text")}}
              </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
              <label class="col-md-offset-2 control-label" for="tags">Tags</label>

              <div class="input-group col-md-8 col-md-offset-2">
                  {{form.tags(id="tags", placeholder="Space separated tags", class="form-control input-md", required="", style="width:100%")}}
              </div>
          </div>
          </br>
          <!-- draft input-->
          <div class="form-group">
              <div class="col-md-offset-2">
                  <!--label>
                      {{form.draft(id="draft")}} draft?
                  </label-->
                  <label>
                      {{form.public(id="public")}} public?
                  </label>
              </div>
          </div>
          </br>
          <div class="form-group">
              <div class="col-md-offset-2">
                  {{ form.submit(id="submit", style="width:100%", class="btn btn-primary") }}
              </div>
          </div>
      </fieldset>
  </form>
</div>
{% endblock post %}

{% block extrajs %}
  <script src="/static/libs/editor.md/js/jquery.min.js"></script>
  <script src="/static/libs/editor.md/js/editormd.min.js"></script>
  <script type="text/javascript">
  var Editor;
  $(function() {
      $(function(){
          var upload_url = window.location.protocol+'//'+window.location.host+"{{url_for('flask_fileupload.upload')}}";
          console.log(upload_url);
          Editor = editormd("editormd", {
              width: "100%",
              height: 500,
              path : '/static/libs/editor.md/lib/',
              theme : "dark",
              previewTheme : "dark",
              editorTheme : "pastel-on-dark",
              markdown : "",
              codeFold : true,
              //syncScrolling : false,
              saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
              searchReplace : true,
              //watch : false,                // 关闭实时预览
              htmlDecode : "style,script,iframe|on*",    // 开启HTML标签解析，为了安全性，默认不开启
              //toolbar  : false,             //关闭工具栏
              //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
              emoji : true,
              taskList : true,
              tocm            : true,         // Using [TOCM]
              tex : true,                   // 开启科学公式TeX语言支持，默认关闭
              flowChart : true,             // 开启流程图支持，默认关闭
              sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
              //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
              //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
              //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
              //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
              //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
              imageUpload : true,
              imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
              imageUploadURL : upload_url,
              onload : function() {
              }
          });
      });
  });
  </script>
{% endblock extrajs %}
